<h1> Landlord side </h1>

@{
    foreach(UnikBolig.Models.EstateRulesetModel item in ViewBag.Rulesets)
    {
        <p> @item.Name </p>
        <p> @item.Dog </p>
    }
}

@{
    foreach(UnikBolig.Models.EstateModel item in ViewBag.Estates)
    {
        <p> @item.Name </p>
    }

}