@model UnikBolig.Models.EstateRulesetModel;

<div class="col-md-12 justify-content-center align-content-center">
    <div class="col-md-6">
        <form asp-controller="Landlord" asp-action="CreateRuleset">

            <div class="form-group col-md-6 offset-md-6">
                <span> Navn på regelsættet <input class="form-control" asp-for="Name" /></span>
            </div>

            <div class="form-check col-md-6 offset-md-6">
                <input class="form-check-input" type="checkbox" asp-for="Dog" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                    Må Der være hund i husstanden?
                </label>
            </div>

            <div class="form-check col-md-6 offset-md-6">
                <input class="form-check-input" type="checkbox" asp-for="Cat" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                    Må Der være kat i husstanden?
                </label>
            </div>

            <div class="form-check col-md-6 offset-md-6">
                <input class="form-check-input" type="checkbox" asp-for="Creep" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                    Må Der være krybdyr i husstanden?
                </label>
            </div>

            <div class="form-check col-md-6 offset-md-6">
                <input class="form-check-input" type="checkbox" asp-for="Fish" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                    Må Der være fisk i husstanden?
                </label>
            </div>

            <div class="form-group col-md-6 offset-md-6">
                <button class="btn btn-primary btn-block"> Opret regelsæt </button>
            </div>



        </form>
    </div>
</div> 

