@model UnikBolig.Models.UserDetailModel;
@using Microsoft.AspNetCore.Http;


@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2 class="form-group col-md-4">  Hej @Context.Session.GetString("FirstName") @Context.Session.GetString("LastName") </h2>
<br />
<br />

<form method="post" asp-controller="User" asp-action="UserDetailsSave">



    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <div class="form-group">
                        <label class="control-label"> Beskrivelse </label>
                        <textarea class="form-control" rows="6" placeholder="Om" asp-for="About"></textarea>
                    </div>

                    <div class="form-group form-check">
                        <input class="form-check-input" type="checkbox" asp-for="Dog">
                        <label class="form-check-label">
                            Har du en eller flere hunde?
                        </label>
                    </div>

                    <div class="form-group form-check">
                        <input class="form-check-input" type="checkbox" asp-for="Cat" >
                        <label class="form-check-label">
                            Har du en eller flere katte?
                        </label>
                    </div>

                    <div class="form-group form-check">
                        <input class="form-check-input" type="checkbox" asp-for="Creep">
                        <label class="form-check-label">
                            Har du krybdyr?
                        </label>
                    </div>

                    <div class="form-group form-check">
                        <input class="form-check-input" type="checkbox" asp-for="Fish">
                        <label class="form-check-label">
                            Har du fisk?
                        </label>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Gem" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </div>
</form>

<div class="col-sm-6">
    <div class="card">
        <div class="card-body">

            @{
                if (Context.Session.GetString("Type") == "renter")
                {
                    <form method="post" asp-controller="User" asp-action="BecomeLandlord">

                        <div class="">
                            <h3>Kunne du tænke dig og blive udlejer?</h3>
                            <p>Har du en eller mange boliger, som du godt kunne tænke dig og leje ud til andre mennesker?</p>
                            <p>Så tøv ikke. Det eneste du skal gøre er at trykke på knappen nedeunder, og så kan du begynde at leje dine super flotte boliger ud!</p>
                        </div>

                        <div class="">
                            <button class="btn btn-primary"> Bliv udlejer </button>
                        </div>
                    </form>
                }
                else
                {
                    <h3>Du er udlejer</h3>
                    <p>Herunder kan du se de boliger som du har til leje</p>
                    <a class="btn btn-outline-secondary" href="/landlord">Tryk her for at se dine boliger du har tilleje og regelsæt</a>
                    
                }
            }
        </div>
    </div>
</div>


<script>

</script>