@using Microsoft.AspNetCore.Http;

<div class="col-md-12 justify-content-center align-content-center">
    <div class="col-md-12 justify-content-center align-content-center">
        <h3 class="text-center"> Hej @Context.Session.GetString("FirstName") @Context.Session.GetString("LastName") </h3>
        <p class="text-center"> Dette er din profil </p>
        <p class="text-center" style="color: red;"> @ViewBag.Message </p>
        <center>
            @{
                if (Context.Session.GetString("Type") == "renter")
                {
                    <form method="post" asp-controller="User" asp-action="BecomeLandlord">
                        <button class="btn btn-primary"> Bliv landlord </button>
                    </form>
                }
            }
            <br />
        </center>
        <div class="col-md-12 justify-content-center">
            <div class="col-md-12 row justify-content-center">
                <div class="offset-1 item col-md-3">
                    <a href="/user/details">
                        <h3> Bruger detaljer </h3>
                    </a>
                </div>

                
                <div class="item offset-2 col-md-3">
                    <a href="/user/writeups">
                        <h3> Mine opskrivninger </h3>
                    </a>
                </div>
                
            </div>
        </div>
    </div>
</div>

<style>
    .item {
        height: 250px;
        box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.7);
    }

    a {
        text-decoration: none;
        color: black;
    }
</style>