@using System.Collections.Generic;
@model List<UnikBolig.Models.EstateModel>;

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Velkommen til UnikBolig</h1>
    <p>På denne side kan du søge efter boliger</p>
</div>


@{
    if (Model == null)
    {
        <h3 class="text-center">Hovsa ingen boliger fundet!</h3>
    }
    else
    {
        foreach (var item in Model)

        {

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

                <div class="col-sm">
                    <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em">Billede</text></svg>

                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Se bolig</button>
                                </div>
                                <small class="text-muted"></small>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        }
    }


}

