@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Velkommen til UnikBolig</h1>
    <p>På denne side kan du søge efter boliger! Når de nu engang kommer op</p>
</div>
