@using Microsoft.AspNetCore.Http;


<ul class="navbar-nav">
    @if (Context.Session.GetString("UserID") != null)
    {
        if (Context.Session.GetString("Type") == "landlord")
        {

            <div class="dropdown" style="right: 10px;">
                <button class="btn btn-outline-secondary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class='fas fa-home'></i>    Udlej</button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="nav-link text-dark" href="/landlord/estates/create">Opret bolig</a>
                    <a class="nav-link text-dark" asp-controller="Landlord" asp-action="RulesetCreateView">Opret et regelsæt</a>
                </div>
            </div>

        }

        <li>
            <a class="btn btn-outline-secondary" style="left: 10px;" asp-area="" asp-controller="User" asp-action="Details"><i class='fas fa-user-alt'></i>    @Context.Session.GetString("FirstName") @Context.Session.GetString("LastName")</a>
        </li>

        <div class="dropdown" style="left: 10px;">
            <button class="btn btn-outline-secondary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class='fas fa-align-justify'></i></button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a id="manage" class="nav-link text-dark" href="/user/writeups"> Mine Opskrivelser </a>
            </div>
        </div>


    }
    else
    {
        <li class="nav-item" style="left: 10px;">
            <a class="btn btn-outline-secondary" href="/register">Opret bruger</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-outline-secondary" href="/login">Log ind</a>
        </li>
    }
</ul>



<script src='https://kit.fontawesome.com/a076d05399.js'></script>
